$primaryFontContainer: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$BackgroundPrimary: #efefef;
$bg-hover-color: rgba(36, 36, 36, 0.075);
$upperBoxColor: #f9f9f9;
$quinaryColor: #3b49df;

