@mixin banner {
    background: no-repeat fixed #34a;
    border-radius: 9px;
    margin: 20px auto;
    max-width: 1440px;
    width: 100%;
    font-family: $primaryFontContainer;
    padding: 40px 0;
    position: relative;
}

@mixin aside2-container {
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
}

//