* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
}